@font-face {
    font-family: 'SwissSign';
    src: url('../fonts/SwissSignCircular-Bold.ttf?v=4.6.2');
    font-weight: normal;
    font-style: normal;
}

.mo_oauth_login_button{
    display:block;
    border:1px solid #008ec2;
    border-radius:3px;
    width:100%;
    height:28px;
    cursor:pointer;
    box-shadow: 2px 2px 5px #ccc;
    background-color:#008ec2;
}

.mo_oauth_login_button_icon{
    display:inline-block;
    color:white;
    margin-left:15px;
    margin-right:50px;
    font-size:15px;
    border-right: 1px solid #3274ad;
    height: 23px;
    padding-right: 15px;
    padding-top: 6px;
}

.mo_oauth_login_button_text{
    color:white;
    display:inline-block;
}

.mo_oauth_login_button_widget{
    display:block;
    border:1px solid #008ec2;
    border-radius:3px;
    width:100%;
    height:58px;
    cursor:pointer;
    box-shadow: 2px 2px 5px #ccc;
    background-color:#008ec2;
}

.mo_oauth_login_button_icon_widget{
    display:inline-block;
    color:white;
    margin-left:5%;
    margin-right: 20%;
    border-right: 1px solid #3274ad;
    height: 55px;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 30px;
}

.swissid-btn {
    font-family: 'SwissSignCircularWeb', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    padding: 1px 0 0;
    text-decoration: none;
    color: #FFFFFF !important;
}
.swissid-btn:hover {
    color: white !important;
    text-decoration: none;
}
.swissid-btn-primary {
    color: #ffffff;
    background-color: #eb0000 !important;
    font-weight: bold;
}

.swissid-btn-connect {
    position: relative;
    text-align: center;
    padding-left: 55px;
    padding-right: 15px;
    height: 50px;
    line-height: 50px; /* line-height MUST be the same as the height of the button to centre text vertically. */
    background: url(../images/connect.svg) no-repeat,
    linear-gradient(transparent, transparent);
}
.swissid-btn-connect span {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../images/connect.svg) no-repeat,
    linear-gradient(transparent, transparent);
}
.mo_oauth_login_button_text_widget{
    margin: 0px;
    color:white;
    display:inline-block;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .mo_oauth_login_button_icon_widget{
        padding-top: 4%;
        margin-right: 2%;
    }  
}